name: Oncall JSON Lint

on:
  pull_request:
    paths:
      - "hive/oncall.json"

jobs:
  lint-oncall-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Debug script
        run: |
          ls -l scripts/lint_oncall_json.sh
          file scripts/lint_oncall_json.sh
          sed -n '1p' scripts/lint_oncall_json.sh

      - name: Lint hive/oncall.json
        run: |
          chmod +x scripts/lint_oncall_json.sh
          scripts/lint_oncall_json.sh hive/oncall.json

